@import url(https://fonts.googleapis.com/css?family=Poppins);
@charset "UTF-8";
@media (max-width: 700px) {
  #ticket .back {
    margin: 20px 15px 20px 10px !important;
  }

  .breadcrumb {
    margin-left: 10px !important;
  }

  footer {
    padding: 0px !important;
  }
}
html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

.breadcrumb {
  margin-left: 60px;
}

footer {
  padding: 20px 50px;
}

#ticket {
  font-family: "Poppis";
}
#ticket .back {
  border-radius: 0.3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  height: 30vmin;
  display: flex;
  overflow: hidden;
  background-color: white;
  color: #541f00;
  margin: 20px 15px 20px 60px;
}
#ticket .back .left {
  width: 75%;
  display: flex;
}
#ticket .back .left .left-bar {
  background-color: #fe6309;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#ticket .back .left .left-bar span {
  padding: 1.4rem 2rem;
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
}
#ticket .back .left .left-bar span::before {
  position: absolute;
  bottom: 75%;
  left: 0;
  width: 100%;
  text-align: center;
  content: attr(data-title);
  font-size: 0.5em;
  text-transform: capitalize;
}
#ticket .back .left .details-section {
  flex-grow: 1;
  padding: 0.2rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ticket .back .left .details-section .details-logo {
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 0.4rem 0.4rem 0 0;
  background-color: #ffb488;
  padding: 0.5em 1em 0.2em 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}
#ticket .back .left .details-section .details-logo .logo-text {
  position: relative;
  text-transform: uppercase;
}
#ticket .back .left .details-section .details-logo .logo {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
}
#ticket .back .left .details-section .details-logo .class {
  margin-left: auto;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: none;
}
#ticket .back .left .details-section .details-body {
  padding: 2rem 0.5rem 0rem 0.5rem;
  position: relative;
  display: flex;
  flex-grow: 1;
  color: #541f00;
  width: 100%;
}
#ticket .back .left .details-section .details-body .details-travel {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}
#ticket .back .left .details-section .details-body .details-travel .from-to {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
}
#ticket .back .left .details-section .details-body .details-travel .from-to div {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}
#ticket .back .left .details-section .details-body .details-travel .from-to span {
  position: relative;
  padding: 0 0.5rem;
}
#ticket .back .left .details-section .details-body .details-travel .from-to span::before {
  content: "→";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
}
#ticket .back .right {
  border-left: 1px dashed #873201;
  width: 25%;
  display: flex;
  flex-direction: column;
}
#ticket .back .right span {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
#ticket .back .right span.flight-time::after {
  content: attr(data-date);
  text-align: center;
}
#ticket .back .right span::before {
  bottom: 80%;
  left: 0;
  width: 100%;
  content: attr(data-title);
  font-size: 0.5em;
  text-transform: lowercase;
  font-weight: normal;
}
#ticket .back .right span::after {
  top: 75%;
  left: 0;
  width: 100%;
  content: attr(data-code);
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: normal;
}
#ticket .back .right .details-logo {
  background-color: #fea36f;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ticket .back .right .details-logo .logo {
  height: 2rem;
  width: 2rem;
}
#ticket .back .right .travel-details {
  padding: 1rem;
  font-size: 1rem;
  flex-grow: 1;
}
#ticket .back .right .travel-details div {
  padding: 0.3rem 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
#ticket .back .right .bottom-bar {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  font-size: 1.3rem;
  background-color: #fe6309;
}
#ticket .back .right .bottom-bar span {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.2rem;
}
#ticket .front {
  margin-top: 6vmin;
  border-radius: 0.3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  height: 30vmin;
  display: flex;
  overflow: hidden;
  background-color: #fe6309;
  color: #541f00;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, transparent 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2), 25%, transparent 25%, transparent 26%, rgba(255, 255, 255, 0.2) 26%, rgba(255, 255, 255, 0.2) 28%, transparent 28%, transparent 70%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.2) 72%, transparent 72%, transparent 73%, rgba(255, 255, 255, 0.2) 73%, rgba(255, 255, 255, 0.2) 74%, transparent 74%, transparent 74.8%, rgba(255, 255, 255, 0.2) 74.8%, rgba(255, 255, 255, 0.2) 76%, transparent 76%);
}
#ticket .front .logo {
  height: 2em;
  width: 2em;
  font-size: 5em;
}
#ticket .front .text {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}
